.sec{
  min-height:100vh;
  background: #eee;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.header-company{
  width: 100%;
  background: #eee;
  padding:8px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0d0d0d;
  z-index: 2;
}
.usuario{
  width:450px;
  display:flex;
  justify-content: space-around;
}
.user{
  border-radius:50%;
}
.container{
  max-width:900px;
  background: rgb(136, 136, 136);
  padding:10px;
  text-align: center;
}
.input-base{
  background:#fff;
}
.table-r:hover{
  background:#eee;
}
.btn-view{
  width:100px;
  height:25px;
  background:rgb(189, 188, 188);
  text-transform: uppercase;
  font-weight: bold;
  cursor:pointer;
  border:none;
  transition:0.5s;
}
.btn-view:hover{
  background:rgb(117, 116, 116);
}